<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bc.wd.server.mapper.GoodsMapper">

    <resultMap id="Goods" type="com.bc.wd.server.entity.Goods">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_name" property="goodsCreator" jdbcType="VARCHAR"/>
        <result column="goods_photos" property="goodsPhotos" jdbcType="VARCHAR"/>
        <result column="goods_no" property="goodsNo" jdbcType="VARCHAR"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getGoodsList" resultMap="Goods">
        select g.*, u.name as user_name
        from t_goods g
        left join t_user u on g.user_id = u.id
        where delete_status = '0'
        order by create_time desc
    </select>
</mapper>